In [94]:
import pandas as pd
import numpy as np

In [95]:
df_social_networks = pd.read_csv('task_3_data.csv')
df_social_networks

          date media_souce     cost  installs  activations  expected_revenue
0   2023-11-01        Meta  3189.69       959          175         3401.7000
1   2023-11-02        Meta  3062.85      1071          161         4303.6100
2   2023-11-03        Meta  3116.61       994          189         3210.6500
3   2023-11-04        Meta  3111.15      1022          175         3583.8500
4   2023-11-05        Meta  3297.28      1157          161         3346.8800
5   2023-11-06        Meta  3365.81      1064          182         3443.4100
6   2023-11-07        Meta  3085.32      1024          189         3701.4800
7   2023-11-08        Meta  3220.14      1084          182         4102.3200
8   2023-11-09        Meta  3174.43      1057          182         4063.8400
9   2023-11-10        Meta  3133.27      1011          189         3536.2200
10  2023-11-11        Meta  3293.71       932          168         3649.9200
11  2023-11-12        Meta  3200.26       977          182         2825.5100
12  2023-11-13        Meta  3230.64       945          189         3889.8300
13  2023-11-14        Meta  3047.17       756          182         3666.4300
14  2023-11-15        Meta  3267.25       838          168         4165.4900
15  2023-11-16        Meta  3132.99       907          161         4444.3000
16  2023-11-17        Meta  3128.09       958          175         4309.1000
17  2023-11-18        Meta  3091.41       851          189         4259.4000
18  2023-11-19        Meta  3095.82       907          217         4210.4000
19  2023-11-20        Meta  3077.20       876          217         3481.2900
20  2023-11-21        Meta  3102.47       869          210         3957.7400
21  2023-11-22        Meta  3100.65       907          217         4634.2200
22  2023-11-23        Meta  3310.86       840          206         4543.5600
23  2023-11-24        Meta  3221.33       902          197         3743.6900
24  2023-11-25        Meta  3151.12       801          199         4191.4200
25  2023-11-26        Meta  3123.89       790          209         4243.8900
26  2023-11-27        Meta  3249.05       868          212         4039.2300
27  2023-11-28        Meta  3306.03       788          189         4741.9100
28  2023-11-29        Meta  3221.54       751          192         4005.4000
29  2023-11-30        Meta  3223.92       756          195         3876.9200
30  2023-11-01      Tiktok  1363.12       451           76         1703.9200
31  2023-11-02      Tiktok  1308.91       457           70         1534.4000
32  2023-11-03      Tiktok  1331.88       498           82         1807.2800
33  2023-11-04      Tiktok  1329.55       514           92         1761.8000
34  2023-11-05      Tiktok  1409.09       392           64         1560.9600
35  2023-11-06      Tiktok  1438.38       384           68         1657.1600
36  2023-11-07      Tiktok  1318.51       406           56         1107.5680
37  2023-11-08      Tiktok  1376.13       471           70         1776.3900
38  2023-11-09      Tiktok  1492.25       463           76         1921.1280
39  2023-11-10      Tiktok  1472.90       512           86         1795.5080
40  2023-11-11      Tiktok  1548.33       558           75         2050.9500
41  2023-11-12      Tiktok  1504.39       419           64         1375.6160
42  2023-11-13      Tiktok  1518.68       390           59         1459.6010
43  2023-11-14      Tiktok  1432.43       452           74         1765.3662
44  2023-11-15      Tiktok  1675.51       448           72         1759.7736
45  2023-11-16      Tiktok  1606.66       452           74         1969.6950
46  2023-11-17      Tiktok  1604.15       470           82         2044.4814
47  2023-11-18      Tiktok  1585.34       595           75         1810.2825
48  2023-11-19      Tiktok  1587.60       452           74         1809.5220
49  2023-11-20      Tiktok  1578.05       429           62         1476.1890
50  2023-11-21      Tiktok  1657.30       421           68         1787.7132
51  2023-11-22      Tiktok  1656.33       457           72         1914.7752
52  2023-11-23      Tiktok  1768.63       416           70         1803.6480
53  2023-11-24      Tiktok  1720.80       477           82         2204.8816
54  2023-11-25      Tiktok  1683.29       559           85         2216.0690
55  2023-11-26      Tiktok  1668.75       442           74         1987.0628
56  2023-11-27      Tiktok  1735.60       450           74         1804.6972
57  2023-11-28      Tiktok  1766.04       430           73         1815.0428
58  2023-11-29      Tiktok  1720.91       454           75         2217.9600
59  2023-11-30      Tiktok  1722.18       465           79         2107.8306

Checking if any 0 values in the dataframe

In [96]:
df_social_networks.isin([0, "0"]).values.any()

np.False_

Checking for datatypes, and NaN values. 
P.S. since dataframe is small, I won't change data types to 32-16 bit

In [97]:
df_social_networks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              60 non-null     object
 1   media_souce       60 non-null     object
 2   cost              60 non-null     float64
 3   installs          60 non-null     int64
 4   activations       60 non-null     int64
 5   expected_revenue  60 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.9+ KB

In [98]:
df_social_networks

          date media_souce     cost  installs  activations  expected_revenue
0   2023-11-01        Meta  3189.69       959          175         3401.7000
1   2023-11-02        Meta  3062.85      1071          161         4303.6100
2   2023-11-03        Meta  3116.61       994          189         3210.6500
3   2023-11-04        Meta  3111.15      1022          175         3583.8500
4   2023-11-05        Meta  3297.28      1157          161         3346.8800
5   2023-11-06        Meta  3365.81      1064          182         3443.4100
6   2023-11-07        Meta  3085.32      1024          189         3701.4800
7   2023-11-08        Meta  3220.14      1084          182         4102.3200
8   2023-11-09        Meta  3174.43      1057          182         4063.8400
9   2023-11-10        Meta  3133.27      1011          189         3536.2200
10  2023-11-11        Meta  3293.71       932          168         3649.9200
11  2023-11-12        Meta  3200.26       977          182         2825.5100
12  2023-11-13        Meta  3230.64       945          189         3889.8300
13  2023-11-14        Meta  3047.17       756          182         3666.4300
14  2023-11-15        Meta  3267.25       838          168         4165.4900
15  2023-11-16        Meta  3132.99       907          161         4444.3000
16  2023-11-17        Meta  3128.09       958          175         4309.1000
17  2023-11-18        Meta  3091.41       851          189         4259.4000
18  2023-11-19        Meta  3095.82       907          217         4210.4000
19  2023-11-20        Meta  3077.20       876          217         3481.2900
20  2023-11-21        Meta  3102.47       869          210         3957.7400
21  2023-11-22        Meta  3100.65       907          217         4634.2200
22  2023-11-23        Meta  3310.86       840          206         4543.5600
23  2023-11-24        Meta  3221.33       902          197         3743.6900
24  2023-11-25        Meta  3151.12       801          199         4191.4200
25  2023-11-26        Meta  3123.89       790          209         4243.8900
26  2023-11-27        Meta  3249.05       868          212         4039.2300
27  2023-11-28        Meta  3306.03       788          189         4741.9100
28  2023-11-29        Meta  3221.54       751          192         4005.4000
29  2023-11-30        Meta  3223.92       756          195         3876.9200
30  2023-11-01      Tiktok  1363.12       451           76         1703.9200
31  2023-11-02      Tiktok  1308.91       457           70         1534.4000
32  2023-11-03      Tiktok  1331.88       498           82         1807.2800
33  2023-11-04      Tiktok  1329.55       514           92         1761.8000
34  2023-11-05      Tiktok  1409.09       392           64         1560.9600
35  2023-11-06      Tiktok  1438.38       384           68         1657.1600
36  2023-11-07      Tiktok  1318.51       406           56         1107.5680
37  2023-11-08      Tiktok  1376.13       471           70         1776.3900
38  2023-11-09      Tiktok  1492.25       463           76         1921.1280
39  2023-11-10      Tiktok  1472.90       512           86         1795.5080
40  2023-11-11      Tiktok  1548.33       558           75         2050.9500
41  2023-11-12      Tiktok  1504.39       419           64         1375.6160
42  2023-11-13      Tiktok  1518.68       390           59         1459.6010
43  2023-11-14      Tiktok  1432.43       452           74         1765.3662
44  2023-11-15      Tiktok  1675.51       448           72         1759.7736
45  2023-11-16      Tiktok  1606.66       452           74         1969.6950
46  2023-11-17      Tiktok  1604.15       470           82         2044.4814
47  2023-11-18      Tiktok  1585.34       595           75         1810.2825
48  2023-11-19      Tiktok  1587.60       452           74         1809.5220
49  2023-11-20      Tiktok  1578.05       429           62         1476.1890
50  2023-11-21      Tiktok  1657.30       421           68         1787.7132
51  2023-11-22      Tiktok  1656.33       457           72         1914.7752
52  2023-11-23      Tiktok  1768.63       416           70         1803.6480
53  2023-11-24      Tiktok  1720.80       477           82         2204.8816
54  2023-11-25      Tiktok  1683.29       559           85         2216.0690
55  2023-11-26      Tiktok  1668.75       442           74         1987.0628
56  2023-11-27      Tiktok  1735.60       450           74         1804.6972
57  2023-11-28      Tiktok  1766.04       430           73         1815.0428
58  2023-11-29      Tiktok  1720.91       454           75         2217.9600
59  2023-11-30      Tiktok  1722.18       465           79         2107.8306

Cutting objects (data/string) off and checking numbers correlations

In [99]:
df_social_networks.iloc[:, 2:].corr()

                      cost  installs  activations  expected_revenue
cost              1.000000  0.932881     0.963749          0.947808
installs          0.932881  1.000000     0.898338          0.868565
activations       0.963749  0.898338     1.000000          0.945999
expected_revenue  0.947808  0.868565     0.945999          1.000000

Calculating CPI (cost per install $), activation rate(%) and potential ROI (return on investment %)

In [104]:
df_social_networks["CPI"] = df_social_networks["cost"] / df_social_networks["installs"]
df_social_networks["activation_rate"] = (
    df_social_networks["activations"] / df_social_networks["installs"]
) * 100
df_social_networks["ROI"] = (
    (
        df_social_networks["expected_revenue"] - df_social_networks["cost"]
    ) / df_social_networks["cost"]
) * 100

Grouping data by media source

In [105]:
grouped_metrics = df_social_networks.groupby("media_souce").agg({
    "CPI": "mean",
    "activation_rate": "mean",
    "ROI": "mean"
}).round(4)
grouped_metrics

                CPI  activation_rate      ROI
media_souce
Meta         3.4928          20.8274  23.4318
Tiktok       3.4138          16.0257  16.0845

Unload data to CSV

In [106]:
grouped_metrics.to_csv('grouped_metrics.csv')